<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.easewise.codex-worker-backup</string>
  <key>UserName</key>
  <string>__USER__</string>
  <key>GroupName</key>
  <string>__GROUP__</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON_BIN__</string>
    <string>__MAINTENANCE_SCRIPT__</string>
    <string>--database</string>
    <string>__DATABASE__</string>
    <string>--backup-dir</string>
    <string>__BACKUP_ROOT__</string>
    <string>--log-dir</string>
    <string>__LOG_ROOT__</string>
    <string>--retention</string>
    <string>14</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>__HOME__</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>3</integer>
    <key>Minute</key>
    <integer>17</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>__LOG_ROOT__/maintenance.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_ROOT__/maintenance.stderr.log</string>
</dict>
</plist>
